TestVoc/src/main/webapp/schemas/VocabloryRecord.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://webservices.test.by"
	targetNamespace="http://webservices.test.by" elementFormDefault="qualified"
	attributeFormDefault="unqualified">
	<xs:complexType name="VocabloryRecord">
		<xs:sequence>
			<xs:element name="Content" type="xs:long" />
			<xs:element name="ID" type="xs:string" />
			<xs:element name="VocabloryName" type="xs:string" />
		</xs:sequence>
	</xs:complexType> 
</xs:schema>